#MenuPage
{
    height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  transition: 0.5s;
  overflow-x: hidden;
}

.container1
{
display:flex;
background-color:rgba(214, 167, 97, 0.97) ;
flex-direction: row;
justify-content: space-between;
border: 10px;
border-radius: 0px 0px 30px 30px;

}
.item1-1
{
    width: 80%;
    text-align: center;
    font-family: 'Pacifico', cursive;;
}
.item1-2{
    
    align-self: flex-start;
    
}
button{
    background-color: rgba(99, 87, 87, 1);
    font-size: larger;
    border-radius:30px;
    
}
button:hover{
    transform: scale(1.2);
}
.add{
    text-align: center;
}
.container2{
    display: flex;
    align-items: stretch;    
    
}
 .itemL{
        width: 35%;
        background-color: rgba(237, 193, 127, 0.9);
    }
    
    .itemContainer{
        display:flex ;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color:#D4BCA3;
    }
    .product{
        background-color:rgba(120, 115, 115, 1) ;
        padding: 10px;
        margin:50px;
        border: 30px;
        border-radius: 5px; ;
        height: 226px; 
        width: 178px;
    }
    #HomePage{
        transition: 0.5s;
       
        height: 100%; 
        width: 100%;
       position: fixed; 
       z-index: 1; 
       top: 0; 
       left: 0;
       transition: 0.5s;
       overflow-x:scroll;
    }
    .cartItemsOuter
    {   height: 215px;
        width: 1170px;
        left:135px;

        background-color:  rgba(196, 196, 196, 1);
        border: 10px;
        border-radius: 15px;
        margin: 30px;
        
        
        
    }
    .cartItems{
        
        font-family: 'Original Surfer', cursive;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }
    #sum{
        font-family:'Original Surfer', cursive;
        font-weight: bolder;
        position: absolute;
        width: 480px;
        height: 100px;
        left: 800px;
    }